{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        ["import", { "libraryName": "antd", "style": "css", "libraryDirectory": "lib"}, "ant"],
        "@babel/plugin-proposal-class-properties"
    ]
}
