.t-mine {
    &__header {
        background: $white;
        padding: 40px 0 20px;
    }
    &__avatar {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50px;
        background: $main_theme;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__username {
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }
    &__left, &__right {
        padding: 20px;
        background: $white;
    }
    &__tabs {
        text-align: center;
        background: rgba(255,255,255,.6);
        li {
            display: inline-block;
        }
    }
    &__tab {
        display: inline-block;
        padding: 10px 16px;
        color: #333;
        &.active {
            color: #40a9ff;
        }
    }

    &__section {
        margin: 20px 0;
        &:first-of-type {
            margin-top: 0;
        }
    }

    /* 新建文章部分 */
    &__editor-title {
        padding-left: 4px;
    }
}