.t-mine {
    &__header {
        background: $white;
        padding: 40px 0 20px;
    }
    &__avatar {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50px;
        background: $main_theme;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__username {
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }
    &__left, &__right {
        padding: 20px;
        background: $white;
    }
    &__tabs {
        text-align: center;
        background: rgba(255,255,255,.6);
        li {
            display: inline-block;
        }
    }
    &__tab {
        display: inline-block;
        padding: 10px 16px;
        color: #333;
        &.active {
            color: #40a9ff;
        }
    }

    &__section {
        margin: 20px 0;
        &:first-of-type {
            margin-top: 0;
        }
    }

    /* 新建文章部分 */
    &__editor-title {
        padding-left: 4px;
    }
    &__poster-img {
        margin-top: 10px;
        border-radius: 6px;
        box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
        overflow: hidden;
    }
    &__poster-img {
        width: 100%;
    }

    // 管理类别部分
    &__cate-item {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding: 5px;
    }
    &__cate-inner {
        margin: 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
        overflow: hidden;
        text-align: center;
    }
    &__cate-blur {
        background: rgba(123, 87, 75, 0.55);
    }
    &__cate-title {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        color: $white;
    }
    &__cate-input {
        input {
            box-sizing: border-box;
            height: 40px;
            border: 1px solid $white;
            border-radius: 4px;
            font-size: 20px;
            color: $white;
            text-align: center;
        }
    }
    &__cate-action {
        display: flex;
        justify-content: space-around;
        padding: 10px 20px;
        color: $white;
        user-select: none;
        span {
            padding: 5px 10px;
            cursor: pointer;
            transition: color .3s ease-in-out;
            &:hover {
                color: $light_gray;
            }
        }
    }
    &__cate-add {
        margin-top: 20px;
        text-align: center;
        span {
            display: inline-block;
            padding: 8px 30px;
            font-size: 14px;
            line-height: 14px;
            background: $black;
            box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.5);
            color: #fff;
            transition: all ease-in-out .3s;
            user-select: none;
            cursor: pointer;
            &:hover {
                transform: translate(1px, 1px);
                box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.7);
                color: #00FBFF;
            }
        }
    }
}