.t-sign {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        background: url(../img/signbg.png) no-repeat center center / cover;
        animation: waving 36s ease alternate infinite;
    }
    &__container {
        padding: 1px;
        position: relative;
        z-index: 1;
    }
    &__content {
        padding: 40px;
        background: rgba(255,255,255,.1);
        border-radius: 4px;
        box-shadow: 0 0 15px 0 rgba(255,255,255,.17);
        max-width: 500px;
        margin: 150px auto 0;
    }
    &__question {
        color: #fff;
    }
}

@keyframes waving {
    0% {
        transform: translate3d(-5px, -5px, 0) scale(1.3);
    }
    25% {
        transform: translate3d(0, 0, 0) scale(1.2);
    }
    50% {
        transform: translate3d(5px, 5px, 0) scale(1.1);
    }
    75% {
        transform: translate3d(0, 0, 0) scale(1.2);
    }
    100% {
        transform: translate3d(-5px, -5px, 0) scale(1.3);
    }
}
