.c-nav {
    background: $white;
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        max-width: $main_width;
        margin: 0 auto;
    }
    &__title {
        font-size: 20px;
        font-weight: bolder;
        color: $dark_gray;
        span {
            font-size: 16px;
            color: $dark_yellow;
        }
    }
    &__link {
        margin: 0 10px;
        padding: 0 10px;
        font-weight: bold;
        color: $dark_gray;
    }
}