.c-pad {
    padding: 10px;
    background: #ffffff;
    &__pic {
        height: 300px;
        background: lightgreen;
    }
    &__info {
        position: relative;
        z-index: 1;
        padding: 30px;
        margin-bottom: -50px;
        left: 50%;
        top: -60px;
        transform: translateX(-50%);
        width: 80%;
        background: rgba(0,0,0,1);
        color: #fff;
        text-align: center;
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            left: -10px;
            right: -10px;
            top: -10px;
            bottom: -10px;
            border: 5px solid rgba(0,0,0,1);
        }
    }
    &__category {
        font-size: 13px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 4px;
            border-radius: 3px;
            background: $main_theme;
        }
        &:after {
            content: '';
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 4px;
            border-radius: 3px;
            background: $main_theme;
        }
    }
    &__title {
        span {
            color: #fff;
        }
    }
    &__date {
        color: #999;
        font-size: 13px;
    }
    &__content {
        padding: 20px;
    }
    &__reading {
        text-align: center;
        a {
            display: inline-block;
            padding: 8px 30px;
            font-size: 14px;
            line-height: 14px;
            background: #000000;
            box-shadow: 4px 4px 0 0 rgba(0,0,0,.5);
            color: #fff;
            transition: all ease-in-out .3s;
            &:hover {
                transform: translate(1px ,1px);
                box-shadow: 1px 1px 0 0 rgba(0,0,0,.7);
                color: $light_blue;
            }
        }
    }
}