/* main theme colors */
$white: #FFFFFF;
$black: #222222;
$dark_gray: #424242;
$light_gray: #f0f0f0;
$dark_yellow: #FED731;
$main_theme: #f38763;
$mid_blue: #40a9ff;
$light_blue: #00FBFF;

/* z-index */
$top_index: 999;

/* Layout */
$main_width: 960px;
